*.class
*.log
*.cache
.bsp/
.idea/
/project/target/
/project/target/config-classes/
/target/bg-jobs/
/target/global-logging/
/target/protobuf_external/
/target/protobuf_external_src/
/target/streams/
/target/task-temp-directory/
/target/.history3